{% extends "base/base.html" %}
{% load static %}

<title> {% block title %} Home {% endblock title %} </title>

{% block content %}

<div class="pt-8 grid xl:grid-cols-3 lg:grid-cols-2 gap-8 mx-12 mb-12">

    {% for publicacao in object_list %}
        <div class="bg-gray-800 shadow-lg transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl rounded-xl overflow-hidden text-gray-100">
            
            {% if publicacao.image %}
                <div class="">
                    <a href="{% url "blog:detail_publication" publicacao.pk %}">
                        <img src="{{ publicacao.image.url }}" alt="Image: {{publicacao.title}}" class="w-full h-60 object-cover">
                    </a>
                </div>
            {% else %}
                <div class="">
                    <a href="{% url "blog:detail_publication" publicacao.pk %}">
                        <img src="{% static "blog/img/scp-image-default.jpg" %}" alt="Image: {{publicacao.title}}" class="w-full h-60 object-cover">
                    </a>
                </div>
            {% endif %}
            
            <div class="px-8 py-4">
                <h2 class="text-white text-xl font-bold">
                    <a href="{% url "blog:detail_publication" publicacao.pk %}" class="text-white hover:text-red-600">
                        {{ publicacao.title }}
                    </a>
                </h2>
            </div>

            <div class="px-8">
                <span class="text-gray-400 italic mr-4 text-lg">
                    <i class="fas fa-user"></i>
                    
                    {% if publicacao.author is not None %}
                        {{ publicacao.author.username }}
                    {% else %}
                        Desconhecido
                    {% endif %}
                
                </span>

                <span class="text-gray-400 italic mr-4 text-lg">
                    <i class="fas fa-calendar-alt"></i>
                    {{ publicacao.created_at|date:"d/m/Y" }}
                </span>

                {% if publicacao.category is not None %}
                    <span class="text-blue-400 hover:text-blue-600">
                        <a href="">
                            <i class="fas fa-layer-group"></i>
                            <span>{{ publicacao.category.name }}</span>
                        </a>
                    </span>
                {% endif %}
            </div>

            <div class="px-8 py-4">
                <p class="text-gray-300">{{ publicacao.resume }}</p>
            </div>
        </div>
    {% empty %}
        <div class="text-gray-100 text-center col-span-full">
            Não foram encontradas publicações
        </div>
    {% endfor %}
</div>

{% endblock content %}
