
{% extends "base/base.html" %}
{% load static %}

<title> {% block title %} Detalhe {% endblock title %} </title>

{% block content %}
    
    <div class="m-8 flex">
        <div class="w-2/4">
            {{object.special_containment_procedures}}
        </div>

        <div class="ml-10 w-2/4">
            {% if object.image %}
                <img src="{{object.image.url}}" alt="Imagem {{object.title}}">
            {% else %}
                <img src="{% static "blog/img/scp-image-default.jpg" %}" alt="Imagem {{object.title}}">
            {% endif %}
        </div>
    </div>

{%endblock content %}