{% extends "base/base.html" %}
{% load static %}

<title>{% block title %} Detalhe {% endblock title %}</title>

{% block content %}
    
<div class="container p-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-10">
        
        <div class="col-span-2">
            <p class="text-left">{{ object.item_number }}</p>
        </div>

        <div class="col-span-2">
            <p class="text-left">Classe do Objeto: {{ object.get_object_class_display }}</p>
        </div>

        <div class="col-span-1">
            <p class="text-left">Procedimentos Especiais de Contenção: {{ object.special_containment_procedures }}</p>
        </div>

        <div class="col-span-1 mt-2 mx-auto bg-gray-300 p-10 h-[370px]">
            <div class="relative">
                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="Imagem {{ object.title }}" class="w-[400px] h-72 rounded-lg">
                {% else %}
                    <img src="{% static "blog/img/scp-image-default.jpg" %}" alt="Imagem {{ object.title }}" class="w-[400px] h-72 object-cover rounded-lg">
                {% endif %}
            </div>
        </div>

        <div class="lg:col-span-1 col-span-2 order-4 lg:order-3">
            <p class="text-left"><strong>Procedimentos Especiais de Contenção:</strong> {{ object.special_containment_procedures }}</p>
        </div>

        <div class="lg:col-span-1 col-span-2 flex justify-center items-center order-1 lg:order-4">
            <div class="bg-gray-300 p-4 rounded-lg shadow-lg h-auto">
                <div class="relative">
                    {% if object.image %}
                        <img src="{{ object.image.url }}" alt="Imagem de {{ object.title }}" 
                             class="w-[450px] h-full rounded-lg object-cover">
                    {% else %}
                        <img src="{% static 'blog/img/scp-image-default.jpg' %}" alt="Imagem padrão para {{ object.title }}" 
                             class="w-full h-auto rounded-lg object-cover">
                    {% endif %}
                    <div class="scp-image-caption mt-2 text-center">
                        <p>{{ object.image_caption }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="lg:col-span-2 col-span-2 order-5 lg:order-5">
            <p class="text-left"><strong>Descrição:</strong> {{ object.description }}</p>
        </div>

    </div>
</div>

{% endblock content %}
