{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "base/partials/head.html" %}
    
    <title>{% block title %}{% endblock title %} Blog</title>
</head>
<body class="text-2xl">

    <header class="bg-gray-800 text-white py-4 text-center">
        <h1 class="mb-4" >SCP: Contos do Insondável</h1>
        <nav>
            <a href="#" class="mx-2">Início</a>
            <a href="#" class="mx-2">Categorias</a>
            <a href="#" class="mx-2">Sobre</a>
            <a href="#" class="mx-2">Contato</a>
          </nav>
    </header>

    <main class="grid grid-cols-1 sm:grid-cols-auto-fit sm:grid-cols-minmax-340px gap-8">
        {% block content %}{% endblock content %}
    </main>

    <footer class="bg-gray-800 text-white py-4 text-center">
        <p>&copy; 2024 Meu Blog. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
